body {
  background-color: pink;
  font-size:50px;
  font-color:black:
}

.card {
  border-radius: 15px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
